:root{
    --primary: #f0f8ff;
    --secondary: #000;
    --tertiary: #ffeb53;
    --gray: #222;
    --darkgray: #111;
    --accent: #13cfa9;

    --top-margin:210px;

    font-size: 17px;
    background-color: var(--darkgray);
    user-select: none;
}

body{
    margin:0;
    padding:0;
}

img{
    width: 100%;
    height: auto;
}
a{
    color: unset;
    text-decoration: unset;
}

.top-wrapper{
    visibility: visible;
    z-index: 999;
    position:fixed;
    top:0;
    left:0;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    margin-bottom: 120px;
    color: var(--primary);
    background-color: var(--darkgray);
}
.top-element{
    height: auto;
    width: auto;
    font-family: Smooch Sans, sans-serif;
}

.top-title{
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.6rem;
    padding-left: 35px;
    width: auto;
    white-space: nowrap;
}

.top-title h1{
    font-weight: 200;
    margin: 0;
}

.top-nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: right;
    font-size: 1.3rem;
    gap: 35px;
    padding-right: 35px;
    height: 100%;
    width: auto;
}
.top-nav a{
    cursor: pointer;
}

.hero-div{
    position:relative;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    text-align: center;
    width: auto;
    flex-direction: column;
    
    background-image: url('/Gallery/skull.jpeg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment:fixed;
    background-blend-mode:lighten;
    height: 100vh;
}

.hero-gradient{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 90%;
    width: 100%;
    background-image: linear-gradient(transparent,var(--darkgray) 90%);
}

.section-title h1{
    font-family: Smooch Sans, sans-serif;
    font-size: 5rem;
    color: var(--accent);
    font-weight: 300;
    margin: 0;
}
.section-title span{
    font-size: 3rem;
    font-weight: 100;
    color: var(--primary);
}

.need-div{
    font-family: Vollkorn SC, Georgia, 'Times New Roman', Times, serif;
    color: var(--primary);
    position: fixed;
    width: auto;
    height: auto;
    top: 27%;
    padding: 0;
    text-align: center;
    font-size: 17px;
    white-space: nowrap;
}

.need-div h1{
    margin: 0;
    color: var(--primary);
    padding: 15px;
    font-size: 8.7em;
    font-weight: 400;
    color: var(--primary);
}
.need-div h2{
    margin: 0;
    font-size: 2em;
    font-weight: 200;
}
.need-div button{
    margin: 0;
    letter-spacing: .6em;
    padding: 5px 5px;
    border: 2px solid var(--primary);
    border-radius: 7px;
    margin: 0;
    font-size: 1.7em;
    font-weight: 200;
    background-color: transparent;
    color: var(--primary);
}

.need-div span{
    margin: 0;
    color: var(--accent);
    font-weight: 300;
    font-size: 3em;
}

.scroll-through-gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--primary);
    padding: 7px;
    width: auto;
    height: auto;
}
.scroll-through-gallery img{
    opacity: 0;
    border-radius: 5px;
    margin-top: 15px;
    width: clamp(320px, 720px, 75%);
}

.reveal{
    animation: rev 1s forwards;
}

@keyframes rev{
    50%{
        width: clamp(320px, 820px, 85%);
    }
    100%{
        opacity: 1;
    }
}

.contact{
    color:var(--primary);
    text-align: center;
    font-family: Stylish, sans-serif;
    padding: 0 15px;
    height: 100vh;
}

.gallery{
    width: auto;
    background-image: linear-gradient(var(--darkgray), var(--gray), var(--darkgray));
}

@media screen and (max-width:820px)
{
    .top-logo{
        display: none;
    }
    .top-wrapper{
        padding: 0;
        grid-template-columns: 100%;
    }
    .top-title{
        padding: 0;
        justify-content: center;
    }
    .top-nav{
        padding: 0;
        justify-content: center;
    }
    .top-nav a{
        border:none;
    }
    .need-div{
        font-size: 14px;
    }
}

@media screen and (max-width:600px)
{
    .section-title{
        font-size: 12px;
    }
    .top-title{
        font-size: 1.7rem;
    }
    .hero-gradient h1{
        font-size: 4rem;
    }
    .hero-gradient span{
        font-size: 2rem;
    }
    .need-div{
        font-size: 11px;
    }
}

@media screen and (max-width:500px)
{
    .section-title{
        font-size: 11px;
    }
    .need-div{
        font-size: 8px;
    }
    .hero-gradient h1{
        font-size: 3.5rem;
    }
    .hero-gradient span{
        font-size: 1.5rem;
    }
}

.fade-in{
    animation: fadein 1s forwards;
}

.fade-out{
    animation: fadeout 2s forwards;
}

@keyframes fadeout{
    0%{
        top:0;
    }
    100%{
        top:-200px;
    }
}

@keyframes fadein{
    0%{
        top: -200px;
    }
    100%{
        top: 0;
    }
}

.ghost-friend{
    display: none;
    position:absolute;
    top: 0;
    left: 0;
    width: 125px;
    height: 125px;
}
.ghost-friend img{
    width: 100%;
    height: 100%;
}